openssl_conf = openssl_init

[openssl_init]
providers = provider_sect

[provider_sect]
default = default_sect
legacy = legacy_sect

[default_sect]
activate = 1

[legacy_sect]
activate = 1

# Forcer l'activation de MD4 pour NTLM
[system_default_sect]
providers = default_sect legacy_sect
